<%- model_class = Recipe -%>
<div class="container">
	<div class="page-header">
	  <p>
	  <%= link_to_unless I18n.locale == :en, "English", locale: :en %>
	  |
	  <%= link_to_unless I18n.locale == :de, "German", locale: :de %>
	  </p>
	  <h1><%= t 'edit_recipe' %></h1>
	</div>
	<%= render :partial => 'form' %>
</div>